SUPABASE_URL=https://nsathteqmiafrvxnrtvs.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zYXRodGVxbWlhZnJ2eG5ydHZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkwMTQwNzEsImV4cCI6MjA5NDU5MDA3MX0.KY3wW5QmtTMaNR5cLDhMDiBa832wCaIO0UsxgoK2648
